/* From Uiverse.io by SARAN2004 */ 

*{
  height: auto;
}


.buttong {
  background-color: #eb1418;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E32629;
}

.Endurance{
  color: #193666;
  
  font-size: 1.5rem;  
  font-weight: bold;
  text-align: left;
}

