.cont-rutas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: center;
}
.bord-radio {
    border: 1px solid #000;
    background: transparent;
    padding: 5px;
}